body{
    display: flex;
    justify-content: center;
}

.side{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    top: 100px;
    position: absolute;
    transition: 1s linear;
    backface-visibility: hidden;
}

.front{
    background-color: blue;
}

.back{
    background-color: green;
    transform: rotateY(180deg);
}

.cardFlip{
    transform: rotateY(180deg);
}
